.add_product_category_form_container{
    width: 70%;
    margin: 25px auto 50px auto;
    background-color: transparent;
    border: 3px solid #f95757;
    border-radius: 0px 70px 0px 70px;
    padding: 50px 0px;
}

.add_product_category_form{
    width: 90%;
    margin: 0 auto;
    color: #f95757;
}


.add_product_category_form_btns{
    display: flex;
    justify-content: center;
}

.add_product_category_form_btn1{
    
    background-color: #f95757;
    color: #fff;
    border: none;
    outline: none;
    margin: 10px 10px;
    min-width: 150px;
    border-radius: 40px;
    height: 40px;
}

.add_product_category_title{

    text-align: center;
    margin-top: 100px;
}

.add_product_category_sub_title{

    margin: 15px 0px 30px 0px;
}

.add_product_category_radio{

    margin: 0px auto;

}

.add_product_category_radioname{
    margin: 0px 75px;
}

@media only screen and (max-width:576px) {

    .add_product_category_form_container{

        width: 90%;
        font-size: 0.90rem;

    }
    
    .add_product_category_form_input{
        font-size: 0.90rem;
    }

    .add_product_category_radioname{
        margin: 0px 30px;
    }

}
