.featured_col {
    text-align: center;
    text-align: -webkit-center;
    height: 450px !important;
}



.featured_card{
    cursor: pointer;
    margin-bottom:150px;
    border-radius: 20px;
    border: 3px solid #f95757;
    min-width: 200px;
    max-width: 250px;
    height: 425px;
}



.featured_card:hover{
    transform: scale(1.05);
    transition: 75ms;
}

.featured_card_img{
    height: 275px;
    border-radius: 20px 20px 0px 0px;
}

.featured_card_body{
    padding: 10px 20px;
    height: 100%;
}

.featured_card_title{
    font-size: 1.15rem;
    align-items: center;
}
/* .h5, h5 {

  
} */

.featured_card_price{
    color: #f95757;
    font-size: 1.10rem;
    /* display: flex;
    float: left; */
    /* margin-top: 1%; */
}

.featured_card_oldprice{
    color: #f95757;
    font-size: 1.05rem;
    text-decoration: line-through;
    display: flex;
    float: left;
}

.featured_card_btn{
   float: none;
   width: 100px;
   border-radius: 10px;
   height: 40px;
   background-color: #f95757;
   border: none;
}

.feature_title{
    margin-bottom: 75px;
}