

.new_arrival_card{
    height: 250px;
    margin-bottom:150px;

}

.new_arrival_card:hover{
    transform: scale(1.05);
    transition: 75ms;
}

.new_arrival_card_img{
    height: 100%;
}

.new_arrival_card_body{

    height: 100%;
}

.h5, h5 {
    font-size: 1.15rem;
    align-items: center;
  
}

.new_arrival_card_price{
    color: brown;
    font-size: 1.15rem;
    display: flex;
    float: left;
    margin-top: 2%;
}


.new_arrival_card_btn{
   float: right;
   width: 80px;
   border-radius: 40px;
   height: 40px;
}

.new_arrival_title{
    margin-bottom: 75px;
}