.new_arrive_col {
    text-align: center;
    text-align: -webkit-center;
    height: 400px;
}


.new_arrival_card{
    margin-bottom:150px;
    border: 3px solid #f95757;
    min-width: 200px;
    max-width: 225px;

}

.new_arrival_card:hover{
    transform: scale(1.05);
    transition: 75ms;
}

.new_arrival_card_img{
    height: 220px;
}

.new_arrival_card_body{

    height: 100%;
}

.h5, h5 {
    font-size: 1.15rem;
    align-items: center;
  
}

.new_arrival_card_price{
    color: #f95757;
    font-size: 1.15rem;
    display: flex;
    float: left;
    margin-top: 2%;
}


.new_arrival_card_btn{
   float: right;
   width: 80px;
   border-radius: 40px;
   height: 40px;
   background-color: #f95757;
   border: none;
}

.new_arrival_title{
    margin-bottom: 75px;
}