.owner_category_col {
    text-align: center;
    text-align: -webkit-center;
    height: 300px;
    margin-bottom: 50px;
}

.owner_category_card{
    border-radius: 20px;
    width: 225px;
    border: none;  
    padding: 0px;
    cursor: pointer;
    /* text-decoration: none;
    color: #f95757; */
    font-size: 10rem;
    
}

.owner_category_card:hover{
    transform: scale(1.07);
    transition: 75ms;  
    border: 2px solid #f95757;  
    
}

.cards__item__link{
    text-decoration: none !important;
    color: #f95757 !important;
}

.owner_category_card_img{
    height: 250px;
    border-radius: 20px 20px 0px 0px;
    margin: 0px;
}

.owner_category_card_body{

color:#f95757;

}

.owner_category_title{
   margin: 124px 0px 50px 0px;
   text-align: center;
}

.card_category_title{
    font-size: 22px;
}


/* .catLink{
    cursor: pointer;
    text-decoration: none;
    color: #f95757;
    font-size: 10rem;
}

.catLink:hover{
    
    transition: 75ms; 
    font-size: smaller;
    transform: scale(1.05);
} */
