.delStaff_category_col {
    text-align: center;
    text-align: -webkit-center;
    height: 300px;
    margin-bottom: 50px;
}

.delStaff_category_card{
    border-radius: 20px;
    width: 250px;
    border: none;  
    padding: 0px;
    cursor: pointer;
    font-size: 10rem;
    
}

.delStaff_category_card:hover{
    transform: scale(1.07);
    transition: 75ms;  
    /* border: 2px solid #f95757;   */
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
}

.delStaff_category_card_img{
    height: 250px;
    border-radius: 20px 20px 0px 0px;
    margin: 0px;
}

.delStaff_category_card_body{

color:#f95757;

}

.delStaff_category_title{
   margin: 124px 0px 50px 0px;
   text-align: center;
}