.delStaff_category_col {
    text-align: center;
    text-align: -webkit-center;
    height: 300px;
    margin-bottom: 50px;
}

.delStaff_category_card{
    border-radius: 20px;
    width: 225px;
    height: 325px;
    border: 2px solid #f95757;
    padding: 0px;
    
}

.delStaff_category_card:hover{
    transform: scale(1.05);
    transition: 75ms;   
}

.delStaff_category_card_img{
    height: 250px;
    border-radius: 20px 20px 0px 0px;
    margin: 0px;
}

.delStaff_category_card_body{

color:#f95757;

}

.delStaff_category_title{
   margin: 124px 0px 50px 0px;
   text-align: center;
}