
.addToCart_container{
    text-align: center;
}

.addToCart_col1{
    display: flex;
    justify-content: center;
    padding: 10px;
}


.addToCart_col2{
    padding: 10px;
}

.img1{
    width: 150px;
    height: 150px;
}

.addToCart_oldprice{
    text-decoration: line-through;
}

.addToCart_color_dis{
    margin: 0px auto;
}

.col_div_addToCart{
    display: flex;
    justify-content: center;
    
}

.col_item_addToCart{
    margin-right: 10px;
    margin-left: 0px;
}
.col_size_addToCart{
    display: flex;
    justify-content: center;
}

.addToCartError{
    color: red;
}

@media only screen and (max-width:576px) {

    .addToCart_container{
        text-align: center;
    }
    
    .addToCart_col1{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
}
