.cart_title{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.cart_col2{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.summury_container{
    border: 2px solid #f95957;
    padding: 0px;
    border-radius: 20px;
}

.item_container{
    border: 2px solid #f95957;
    padding: 0px;
    border-radius: 20px;
    width: 90%;
    margin: 0px auto;
    min-height: 100px;
}
.item_col1{
    display: inline-flex;
}

.gg{
    display: inline-block;
    margin-right: 10px;
}

.individual_item_div{
    justify-content: space-around;
    padding: 5px;
    
}

.individual_item{
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

.item_image{
    width: 60px;
    height: 60px;
}

.col2_div{
    padding: 5px;
    margin: 10px;

}
.col2_title{
    background-color: #f95957;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px 20px 0px 0px;
}

.summury_btn1{
    background-color: #fff;
    color: #f95757;
    border: 3px solid #f95757;
    outline: none;
    margin: 10px 10px;
    min-width: 160px;
    border-radius: 40px;
    height: 40px;
}

.summury_btn2{
    background-color: #f95757;
    color: #fff;
    border: none;
    outline: none;
    margin: 10px 10px;
    min-width: 160px;
    border-radius: 40px;
    height: 40px;
}

.item_btn1{
    background-color: #fff;
    color: #f95757;
    border: 3px solid #f95757;
    outline: none;
    margin: 10px 10px;
    border-radius: 40px;
    height: 40px;
}
.item_btn2{
    background-color: #f95757;
    color: #fff;
    border: none;
    outline: none;
    margin: 10px 10px;
    border-radius: 40px;
    height: 40px;
}

.cart_noItem_text{
    text-align: center;
    margin: 30px auto;
}

@media only screen and (max-width:768px) {


    .item_image{
        width: 50px;
        height: 50px;
    }

    .item_container{

        width: 95%;
    }

    .summury_container{
        width: 100%;
    }

}

@media only screen and (max-width:576px) {

    .item_container{
        width: 100%; 
        padding: 5px;
    }

    .cart_noItem_text{

        font-size: 1.5rem;

    }
}