.reset_password_container{
    
    width: 50%;
    margin: 50px auto 50px auto !important;
    background-color: transparent;
    border: 3px solid #f95757;
    border-radius: 0px 70px 0px 70px;
    padding: 50px 0px;
}

.reset_form{
    width: 90%;
    margin: 0 auto;
    color: #f95757;
}


.reset_form_title{

    margin-top: 50px;
    text-align: center;
    
}
.reset_form_btns{
    display: flex;
    justify-content: center;
}

.reset_form_btn1{
    
    background-color: #f95757;
    color: #fff;
    border: none;
    outline: none;
    margin: 10px 10px;
    min-width: 150px;
    border-radius: 40px;
    height: 40px;
}

@media only screen and (max-width:992px) {

    .reset_password_container{

        width: 90%;
        font-size: 0.90rem;

    }
    

}

@media only screen and (max-width:576px) {

    .reset_password_container{

        width: 90%;
        font-size: 0.90rem;

    }
    

}