.footer_container {
    background-color: rgb(43, 40, 40);
    color: #fff;
    justify-content:center ;
    
    
}

.footer_title{
    font-size: 3rem;
}

.footer_col_1{
    padding-left: 10%;
}

.footer_col_2{
    padding-left: 10%;
}

.footer_col_3{
    padding-left: 10%;
}

.footer_lists{
    color: #fff;
}

.footer_lists:hover{
    color: #f95757;
    text-decoration: none;
}
