.navbar{
    font-size: 1.2rem;

}

.navbar-logo{
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 50px;
}

.navbar-links{
    margin: 0 auto;
}
.navbar-btn{
    background-color: #f95757;
    border: none;
    outline: none;
    border-radius: 40px;
    margin: 5px;
    min-width: 100px;
    height: 40px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f95757;
}

.navbar-dark .navbar-nav .nav-link:focus{
    color: #123312;
}

.icon_btn{
    color: #f95757 !important;
}

.delNavLinks{
    margin-right: 10px;
}


@media only screen and (max-width:768px) {

    .nav-link{
        text-align: center;
    }

}